.painel-envio{
    width:100%;
}
.content-painel {
    text-align-last: end;
}

.card-fotos-videos{
    max-width:200px;
    min-height:200px;
}
.foto {
    width: 200px;
}

#imagemSelecionada {
    text-align: center;
}


#imagemSelecionada img{
    min-width: 700px;
    text-align: center;
}
/* CSS para posicionar os ícones de seta no meio esquerdo e direito do modal */
#botaoAnterior{
    position: relative;
    bottom: 250px;
    left: 42px;

}

#botaoProximo {
    position: relative;
    bottom: 249px;
    left: 1058px;
}






