.painel-envio{
    width:100%;
}
.content-painel {
    text-align-last: end;
}

.card-fotos-videos{
    max-width:200px;
    min-height:200px;
}
.foto {
    width: 200px;
}

#imagemSelecionada {
    text-align: center;
}

.modal-conteudo{
background-color: transparent !important;
}
#imagemSelecionada img{
    min-width: 800px;
    text-align: center;
}
/* CSS para posicionar os ícones de seta no meio esquerdo e direito do modal */

.botaoProximo{
    width: 150px;
    position: absolute;
    left: 88%;
    top: 0;
    height: 100%;
}
.botaoProximo i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 45px;
    color: #818181;
}
.botaoProximo i:hover {
    color: #ffffff;
}

.botaoAnterior{
    width: 150px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.botaoAnterior i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 45px;
    color: #818181;
}

.botaoAnterior i:hover {
    color: #ffffff;
}

.botao-fechar-modal{
    position: absolute;
    top: -34px;
    left: 1460px;
    color: #fff;
}

#botaoApresentacao{
    position: absolute;
    left: 50%;
    bottom: 43px;
    font-size: 25px;
    color: #dd6b3d;
}
